.container-top {
  display: flex;
  justify-content: center;
  padding: 5rem;
  height: 100%;
  width: 100%;
  position: relative;
}

.guest-background {
  position: absolute;
  background: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.guest-background-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 116, 123, 0.9);
  z-index: 0;
  top: 0;
  left: 0;
}

.black-transparent {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.guest-container {
  text-align: center;
  background-color: #87BBA2;
  color: #364958;
  border-radius: 1rem;
  padding: 5rem 0; 
  margin: 1rem;
  width: 40%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media (max-width: 1250px) {
  .guest-container {
    width: 60%;
  }
}

.guest-container h1 {
  margin-bottom: 3rem; 
}

.guest-links {
  margin: 4rem 0;
}

.guest-links a {
  color: #01508d;
  text-decoration: none;
  cursor: pointer;
}